body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: #f7f7f7;
  margin: 60px auto;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #f7f7f7 0%, #EAE0D5 100%);
}

/*fonts*/
h1 {
  color:MidnightBlue;
  font-family: 'Bevan', cursive;
  font-family: 'Questrial', sans-serif;
  font-family: 'Luckiest Guy', cursive;
  font-size: 66px;
  line-height: 76px;
  margin: 20px;
  position: relative;
  text-align: center;
  top: 50%;
  letter-spacing:0.05em;
  word-spacing:0.1em
  text-align: center;
  text-transform: uppercase;
}

p,h4 {
  font-family: 'Bevan', cursive;
  font-family: 'Questrial', sans-serif;
  word-spacing:0.05em;
  letter-spacing:0.02em;
  line-height:1.5em;
  color: rgb(54, 74, 101);
}

h3 {
  font-style:italic;
}

